<div class="container">
	<h2>Nueva vista de Panel</h2>
</div>


	<%= render 'form' %>


<br>
<br>
<div class="container">
  <div class="col-md-6">
	  <%= link_to 'VOLVER', images_path %> |
	  <a href="<%=destroy_user_session_path %>"  data-method="delete" > SALIR </a>
  </div> 
</div>	
<br>